@import "tailwindcss";

@theme {
  --color-primary: #335c67;
  --color-primary-100: #0a1215;
  --color-primary-200: #142429;
  --color-primary-300: #1e373e;
  --color-primary-400: #284952;
  --color-primary-500: #335c67;
  --color-primary-600: #4a8696;
  --color-primary-700: #6fa9b8;
  --color-primary-800: #9fc5d0;
  --color-primary-900: #cfe2e7;

  --color-secondary: #66827a;
  --color-secondary-100: #141a18;
  --color-secondary-200: #283330;
  --color-secondary-300: #3d4d48;
  --color-secondary-400: #516761;
  --color-secondary-500: #66827a;
  --color-secondary-600: #819c95;
  --color-secondary-700: #a1b5af;
  --color-secondary-800: #c0ceca;
  --color-secondary-900: #e0e6e4;

  --color-accent: #99a88c;
  --color-accent-50: #eaede8;
  --color-accent-100: #1e231a;
  --color-accent-200: #3d4635;
  --color-accent-300: #5b694f;
  --color-accent-400: #798c69;
  --color-accent-500: #99a88c;
  --color-accent-600: #adb9a2;
  --color-accent-700: #c1cab9;
  --color-accent-800: #d6dcd0;
  --color-accent-900: #eaede8;

  --color-highlight: #fff3b0;
  --color-highlight-100: #574a00;
  --color-highlight-200: #ad9300;
  --color-highlight-300: #ffda05;
  --color-highlight-400: #ffe75c;
  --color-highlight-500: #fff3b0;
  --color-highlight-600: #fff6c2;
  --color-highlight-700: #fff8d1;
  --color-highlight-800: #fffae0;
  --color-highlight-900: #fffdf0;

  --color-warning: #e09f3e;
  --color-warning-100: #312108;
  --color-warning-200: #624110;
  --color-warning-300: #936218;
  --color-warning-400: #c48320;
  --color-warning-500: #e09f3e;
  --color-warning-600: #e6b265;
  --color-warning-700: #ecc58b;
  --color-warning-800: #f2d9b2;
  --color-warning-900: #f9ecd8;

  --color-error: #9e2a2b;
  --color-error-100: #1f0809;
  --color-error-200: #3f1111;
  --color-error-300: #5e191a;
  --color-error-400: #7e2123;
  --color-error-500: #9e2a2b;
  --color-error-600: #cb3a3d;
  --color-error-700: #d86c6d;
  --color-error-800: #e59d9e;
  --color-error-900: #f2cece;
}